body{
  margin: 0;
  padding: 0;
}

.row{
  display: flex;
  margin: 20px 0;
  height: 70px;
  padding: 0;
  gap: 15px;
}

.col, .col-2, .col-3{
  background-color: #5f9fa0;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3{
  flex: 3;
}